<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comment</title>
  </head>
  <body>
    <h2><%=comment.comment%></h2>
    <h3>-<%=comment.username%></h3>
    <hr />
    <a href="/comments">All Comments</a>
  </body>
</html>
